body {
    background-color: #1d2a35;
}
h1 {
    color: #f1f1f1;
}
A:visited {
    color: #8061eb;
}
A:hover {
  background-color: #f1e0d7;
}
div {
    color: #f1f1f1;
  }
.top-menu {
  background-color: #333;
}

.flash.error {
  color: #1e1e1e;
}

.flash.success {
  color: #1e1e1e;
}